<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Server=localhost;Database=temperature;Integrated Security=true;TrustServerCertificate=false;Encrypt=false" name="flex" />
	</connectionStrings>
	<appSettings>
		<add key="serialPort" value="COM4" />
		<add key="interval" value="1000"/>
	</appSettings>
</configuration>